
@{
    ViewBag.Title = "ExperienceAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br />
<form method="post">
    <input type="text" name="Title1" class="form-control" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name="Title2" class="form-control" placeholder="Alt Başlık" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Çalışma Tarihi" />
    <br />
   <textarea name="Description" class="form-control" placeholder="Açıklama yazınız" rows="5"></textarea>
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

