
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Kullanıcı Ekleme Sayfası</h4>
<br />
<form method="post">
    <input type="text" name="UserName" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" name="Password" class="form-control" placeholder="Şifre" />
    <br />
    
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

