@using MvcCv.Models.Entity
@model List<TblInterest>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<br />
<h4 class="container">İlgi Alanlarım</h4>
<br />

<form method="post">

    @foreach (var item in Model)

    {
        <label>Açıklama 1</label>
<textarea rows="5" class="form-control" name="Description1">@item.Description1</textarea>
        <br />
        <label>Açıklama 2</label>
<textarea rows="5" class="form-control" name="Description2">@item.Description2</textarea>
    }
    <br />
    <button class="btn btn-outline-success">Güncelle</button>

</form>

